
<table class="list issues sort-by-id sort-desc">

  <thead>
    <tr>
      <% @headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @tables.each do |row| %>
      <tr>
        <% @headers.each do |header| %>
          <td><%= row[header] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
